@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .btn {@apply  bg-blue-600 py-[16px] px-[26px] rounded-lg }
}
.container {
  @apply mx-auto
}

body {
  @apply text-gray-400
}

.HeroSection {
  background-image: url(assets/img/Fallow03.webp);
}

.Drop {
  visibility: hidden;
  opacity: 0;
}

.LinkOne:hover .Drop {
  visibility: visible;
  opacity: 1;
}


.ProductBg {
  background-image: url(assets/img/Fallow09.webp) ;
}

.MarkingSection {
  background: url(../src/assets/img/Fallow17.webp) top no-repeat;
  background-size: cover;
}

.MarkingBg {
  background: url(../src/assets/img/Fallow19.png) no-repeat;
  background-size: cover;
  height: fit-content;
}

.OneSection {
  background-image: url(../src/assets/img/download.webp);
}

.TwoSection {
  background-image: url(../src/assets/img/bg-16.png);
}
.Form {
  background-image: url(../src/assets/img/Fallow35.webp);
}
.SharingSection{
  background-image: url(../src/assets/img/Fallow36.png);
}
.Skills{
  background-image: url(../src/assets/img/Fallow40.webp);
}
.Footer {
  background-image: url(../src/assets/img/Fallow41.png);
}
.slick-prev:before,
.slick-next:before,
.slick-next,
.slick-prev {
  display: none;
}